body {
  width:  100%;
  height: 100%;
  margin: 0px;
}
.container{
    height: 100px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 20;

}
#Original{
    position: absolute;
    left:0px  !important;
}

#Simplificado{
    position: absolute;
    right:0px;
}

.little{
    width: 50px  !important;
}
.medium{
    width: 75px  !important;
}

.btn-file {
    top: 7px;
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
