<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Simplificacion de Mallas en tiempo Real</title>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/glMatrix-0.9.5.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/webgl-utils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/three.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/OrbitControls.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/Detector.js"></script>
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/bootstrap.min.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/less.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/stats.min.js"></script>

<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/main.less">
<script type="text/javascript" src="{{ STATIC_URL }}js/webgl_three.js"></script>
</head>


<body onload="setStatic({{ STATIC_URL }});">
<div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                  data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a id="fps" class="navbar-brand" href="/"></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <span class="btn btn-default btn-file">
                                        Cargar Modelo <input type="file" id="cargar">
                                    </span>
                                </li>
                                <li><a href="#" class="" Type="Venta">Nueva Escena</a></li>
                                <li><a href="#" class="" Type="Venta">Agregar Fuente de Luz</a></li>

                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <label title="Numero de divisiones" for="dimension">Divisiones</label>
                                    <input title="Numero de divisiones" type="text" class="form-control little" name="dimension" id="dimension" placeholder="20" value="20">
                                    <button type="button" onclick="webGLStart({{ STATIC_URL }});" class="btn btn-default btn-primary">Cargar</button> 
                                    <input type="text" class="form-control medium" name="CameraX" id="CameraX" placeholder="9">
                                    <input type="text" class="form-control medium" name="CameraY" id="CameraY" placeholder="9">
                                    <input type="text" class="form-control medium" name="CameraZ" id="CameraZ" placeholder="9">
                                </div>
                            </form>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>
</div>

<canvas id="Original"></canvas>
<canvas id="Simplificado" ></canvas>
</body>

</html>