<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Simplificacion de Mallas en tiempo Real</title>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/glMatrix-0.9.5.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/webgl-utils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/three.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/OrbitControls.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/Detector.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/stats.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/OBJLoader.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/MTLLoader.js"></script>
<script src="https://twgljs.org/dist/twgl.min.js"></script>
</head>
<body>
		<canvas id="Original"></canvas>

		<script id="fragmentShaderPosition" type="x-shader/x-fragment">


		</script>

		<!-- shader for bird's velocity -->
		<script id="fragmentShaderVelocity" type="x-shader/x-fragment">

 
		</script>

		<script>
			function main() {
				var gl = document.getElementById("Original").getContext("webgl"); // Dimensiones
				var ext = gl.getExtension("OES_texture_float");
        gl.blendEquation(gl.FUNC_ADD);
        gl.blendFunc(gl.SRC_ALPHA, gl.ONE);
        gl.enable(gl.BLEND);
				if (!ext) {
					alert("this machine or browser does not support OES_texture_float");
					return;
				}   
				var linear = gl.getExtension("OES_texture_float_linear");
				if (!linear) {
					alert("this machine or browser does not support  OES_texture_float_linear");
					return;
				}

				var vs = `
					void main() {
						gl_PointSize = 3.0;
						gl_Position = vec4(0, 0, 0, 1);
					}
				`;

				var fs = `
					precision mediump float;
					uniform sampler2D u_tex;
					void main () {
						gl_FragColor = vec4(1.0,0.0,0.0,1.0);
					}
				`;

				var program = twgl.createProgramFromSources(gl, [vs, fs]);

				// create floating point data directly
				var width = 4;
				var height = 2;
				var data = new Float32Array(width * height * 4);  // RGBA
				for (y = 0; y < height; ++y) {
					for (x = 0; x < width; ++x) {
						var off = (y * width + x) * 4;
						data[off + 0] = x;
						data[off + 1] = y;
						data[off + 2] = x + y;
						data[off + 3] = 1;
					}
				}

				var tex = gl.createTexture();
				gl.bindTexture(gl.TEXTURE_2D, tex);
				gl.texParameterf(gl.TEXTURE_2D, gl.TEXTURE_MAG_FILTER, gl.LINEAR);
				gl.texParameterf(gl.TEXTURE_2D, gl.TEXTURE_MIN_FILTER, gl.LINEAR);
				gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_WRAP_S, gl.CLAMP_TO_EDGE);
				gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_WRAP_T, gl.CLAMP_TO_EDGE);
				gl.texImage2D(
				gl.TEXTURE_2D, 0, gl.RGBA, width, height, 0, gl.RGBA, gl.FLOAT, data);

    width = window.innerWidth/2;
    height = window.innerHeight;
				gl.useProgram(program);

				var rttFramebuffer = gl.createFramebuffer();
				gl.bindFramebuffer(gl.FRAMEBUFFER, rttFramebuffer);
    rttFramebuffer.width = width;
    rttFramebuffer.height = height;
				
				var rttTexture  = gl.createTexture();
				gl.bindTexture(gl.TEXTURE_2D, rttTexture);
				gl.texParameterf(gl.TEXTURE_2D, gl.TEXTURE_MAG_FILTER, gl.LINEAR);
				gl.texParameterf(gl.TEXTURE_2D, gl.TEXTURE_MIN_FILTER, gl.LINEAR);
				gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_WRAP_S, gl.CLAMP_TO_EDGE);
				gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_WRAP_T, gl.CLAMP_TO_EDGE);
				gl.texImage2D(
				gl.TEXTURE_2D, 0, gl.RGBA, width, height, 0, gl.RGBA, gl.FLOAT, null);

				gl.framebufferTexture2D(
					gl.FRAMEBUFFER, gl.COLOR_ATTACHMENT0,
					gl.TEXTURE_2D,
					rttTexture ,
					0
				);

				gl.bindTexture(gl.TEXTURE_2D, tex);
				gl.drawArrays(gl.POINTS, 0, 8);

				var pixels = new Float32Array(width*height*4);
    gl.framebufferTexture2D(gl.FRAMEBUFFER, gl.COLOR_ATTACHMENT0, 
        gl.TEXTURE_2D, rttTexture, 0);
				gl.readPixels(0, 0, width, height, gl.RGBA,gl.FLOAT, pixels);
				var Nonzero = [];
    pixels.forEach(function(entry){
        if(entry != 0 ){
            Nonzero.push(entry)
        }
    }.bind(this));
				console.log(Nonzero);
				console.log(gl.getError());

    gl.bindFramebuffer(gl.FRAMEBUFFER, null);
				gl.drawArrays(gl.POINTS, 0, 8);

			}
			main();

		</script>

	</body>
</html>

