<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Simplificacion de Mallas en tiempo Real</title>
<script type="text/javascript" src="{{ STATIC_URL }}js/glMatrix-0.9.5.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/webgl-utils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/three.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/OrbitControls.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/Detector.js"></script>
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/bootstrap.min.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/less.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/stats.min.js"></script>
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/main.less">
<script type="text/javascript" src="{{ STATIC_URL }}js/webgl.js"></script>
</head>
<script id="per-fragment-lighting-fs"  type="x-shader/x-fragment">
    precision mediump float;

    varying vec2 vTextureCoord;
    varying vec3 vTransformedNormal;
    varying vec4 vPosition;

    uniform vec3 uMaterialAmbientColor;
    uniform vec3 uMaterialDiffuseColor;
    uniform vec3 uMaterialSpecularColor;
    uniform float uMaterialShininess;
    uniform vec3 uMaterialEmissiveColor;

    uniform bool uShowSpecularHighlights;
    uniform bool uUseTextures;

    uniform vec3 uAmbientLightingColor;

    uniform vec3 uPointLightingLocation;
    uniform vec3 uPointLightingDiffuseColor;
    uniform vec3 uPointLightingSpecularColor;

    uniform sampler2D uSampler;


    void main(void) {
        vec3 ambientLightWeighting = uAmbientLightingColor;

        vec3 lightDirection = normalize(uPointLightingLocation - vPosition.xyz);
        vec3 normal = normalize(vTransformedNormal);

        vec3 specularLightWeighting = vec3(0.0, 0.0, 0.0);
        if (uShowSpecularHighlights) {
            vec3 eyeDirection = normalize(-vPosition.xyz);
            vec3 reflectionDirection = reflect(-lightDirection, normal);

            float specularLightBrightness = pow(max(dot(reflectionDirection, eyeDirection), 0.0), uMaterialShininess);
            specularLightWeighting = uPointLightingSpecularColor * specularLightBrightness;
        }

        float diffuseLightBrightness = max(dot(normal, lightDirection), 0.0);
        vec3 diffuseLightWeighting = uPointLightingDiffuseColor * diffuseLightBrightness;

        vec3 materialAmbientColor = uMaterialAmbientColor;
        vec3 materialDiffuseColor = uMaterialDiffuseColor;
        vec3 materialSpecularColor = uMaterialSpecularColor;
        vec3 materialEmissiveColor = uMaterialEmissiveColor;
        float alpha = 1.0;
        if (uUseTextures) {
            vec4 textureColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
            materialAmbientColor = materialAmbientColor * textureColor.rgb;
            materialDiffuseColor = materialDiffuseColor * textureColor.rgb;
            materialEmissiveColor = materialEmissiveColor * textureColor.rgb;
            alpha = textureColor.a;
        }
        gl_FragColor = vec4(
            materialAmbientColor * ambientLightWeighting
            + materialDiffuseColor * diffuseLightWeighting
            + materialSpecularColor * specularLightWeighting
            + materialEmissiveColor,
            alpha
        );
    }
</script>

<script id="per-fragment-lighting-vs" type="x-shader/x-vertex">
    attribute vec3 aVertexPosition;
    attribute vec3 aVertexNormal;
    attribute vec2 aTextureCoord;

    uniform mat4 uMVMatrix;
    uniform mat4 uPMatrix;
    uniform mat3 uNMatrix;

    varying vec2 vTextureCoord;
    varying vec3 vTransformedNormal;
    varying vec4 vPosition;


    void main(void) {
        vPosition = uMVMatrix * vec4(aVertexPosition, 1.0);
        gl_Position = uPMatrix * vPosition;
        vTextureCoord = aTextureCoord;
        vTransformedNormal = uNMatrix * aVertexNormal;
    }
</script>

<script id="no_fs" type="x-shader/x-fragment">
    #extension GL_EXT_draw_buffers : require
    precision highp float;

    varying vec3 Color;


    void main(void) {
        //gl_FragColor = vec4(Color,1.0);
        gl_FragData[0] = vec4(1.0,0.0,0.0,1.0);
        gl_FragData[1] = vec4(0.0,0.0,1.0,1.0);
    }
</script>

<script id="no_vs" type="x-shader/x-vertex">
    precision highp float;

    uniform vec3 max; //Vertex with the Max values
    uniform vec3 min; //Vertex with the Min values
    uniform float Dim; //Number of Cells for axis
    uniform float RTDim; //Dimension of the Frambuffer/Texture/Viewport
    //RTDim = Math.floor(Math.sqrt(ownCubic(Dim)));

    attribute vec3 VertexPos;

    varying vec3 Color;


    void main(void) {
        vec3 pos;

        //First i take the vertex from the min-max range to the 0-1 range
        float X = floor((VertexPos.x - min.x)*(Dim)/(max.x - min.x));

        //Because i can have a vertex in the position Dim i have to subtract 1 (because the index go from 0 to Dim-1)
        if( X == Dim)X=X-1.0;

        float Y = floor((VertexPos.y-min.y)*(Dim)/(max.y - min.y));

        if( Y == Dim)Y=Y-1.0;

        Y = Y * Dim;
        float Z = floor((VertexPos.z-min.z)*(Dim)/(max.z - min.z));

        if( Z == Dim)Z=Z-1.0;

        Z = Z*Dim*Dim;
        //Make the 3D index a 1D index
        float temp = X + Y + Z;

        //Make the 1D index a 2D index
        pos.y = floor(temp/RTDim);
        pos.x = temp - (pos.y * RTDim);
        pos.z = 0.1;
        // it seems that the vertex with index 0 are begin culled
        pos.x = pos.x +1.0;
        pos.y = pos.y +1.0;
        //Take from the 0-RTDim range to the -1 - 1 Range
        pos.x = ((pos.x / RTDim)*2.0) - 1.0;
        pos.y = ((pos.y / RTDim)*2.0) - 1.0;

        //Right now im no make any calculation, first i have to determine the right pixel position.
        Color = vec3(1.0,1.0,1.0);

        gl_Position = vec4(pos, 1.0);

        //Im drawing as POINTS
        gl_PointSize = 1.0;
    }
</script>

</head>


<body onload="webGLStart({{ STATIC_URL }});">
<div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                          data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a id="fps" class="navbar-brand" href="/"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><a href="#" class="" Type="Venta">Nuevo Modelo</a></li>
                    <li><a href="#" class="" Type="Venta">Nueva Escena</a></li>
                    <li><a href="#" class="" Type="Venta">Agregar Fuente de Luz</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <label title="Numero de divisiones" for="dimension">Divisiones</label>
                            <input title="Numero de divisiones" type="text" class="form-control little" name="dimension" id="dimension" placeholder="9">
                            <button type="button" onclick="webGLStart({{ STATIC_URL }});" class="btn btn-default btn-primary">Cargar</button>
                        </div>
                    </form>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </div>
</div>

<canvas id="webgl"></canvas>
</body>

</html>